<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>0</TotalTime><Application>LibreOffice</Application><AppVersion>15.0000</AppVersion><Pages>1</Pages><Words>113</Words><Characters>605</Characters><CharactersWithSpaces>718</CharactersWithSpaces><Paragraphs>7</Paragraphs></Properties>
